{% extends 'app/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{% block meta_tag %}
<meta property="og:image"   content="{{ post.imagen.url }}" />
{% endblock %}
{% block content %}
<div class="container fix_padding">
<div class="row" style="margin-top:100px;padding:0;margin-left:0;margin-right:0">
  <div class="col-12 col-md-8">
      <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-p" style="padding-bottom:50px">

            <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            Creado por: <a class="mr-2" href="#">{{ post.autor}}</a>
                            <small class="text-muted">{{ post.create_on }} Hrs</small>
                        </div>
                        <h3>{{ post.titulo }}</h3>
                        {% if post.imagen %}
                                 <img src="{{ post.imagen.url }}" class="img-fluid" alt="Responsive image"
                                    style="margin-bottom : 10px">
                        {% endif %}
                        <p class="article-content" style="text-align: justify">{{post.content}}</p>

                       {% if post.video %}
                        {% video post.video as my_video %}
                              <div style="position:relative; width: 100%; overflow: hidden ;padding-top: 56.25%;">
                              {% video my_video %}
                              </div>
                          {% endvideo %}
                       {% endif %}
                    </div>
              </article>
               <a class="btn btn-outline-info mb-4" style="margin-top: 10px" href="{% url 'blog:blog' %}">ir a Blog</a>
      </section>
  </div>
  <div class="col-12 col-md-4">
      <div class="content-section">
                 <p>
                 <a class="navbar-brand" href="index.html"><span style="color: black">Club de </span><span>Tareas</span></a>
                   <ul class="list-group">
                     <li class="list-group-item list-group-item-light">Número de Artículos: {{ posts | length }} </li>
                   </ul>
                 </p>
                   <p class="text-muted">Post anterior :
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                            <a href="{{ post_anterior.get_absolute_url }}">{{ post_anterior.titulo}}</a>
                        </li>
                      </ul>
                   </p>

                     <p class="text-muted">Post mas comentados :
                      <ul class="list-group">
                           {% for post in order_post_by_comments %}
                           <li class="list-group-item list-group-item-light">
                               <a href="{{ post.get_absolute_url }}">{{ post.titulo}}</a>
                           </li>
                           {% endfor %}
                      </ul>
                     </p>
                     <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img class="d-block w-100" src="{% static 'app/images/club1.jpg' %}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="{% static 'app/images/club.jpeg'%}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="{% static 'app/images/club2.jpg'%}" alt="Third slide">
                        </div>
                      </div>
                    </div>

      </div>
  </div>
</div>
</div>
<div class="container">

  <div class="row" style="margin:0; padding:0;">

    <div class="col-md-12">
        <div class="fb-like" data-href="https://192.168.0.7:8000/blog/{{post.id}}" data-layout="button_count" data-action="like" data-show-faces="true"  data-share="true">
        </div>
        <div class="fb-comments" data-href="https://192.168.0.7:8000/blog/{{post.id}}" data-width="500px" data-numposts="5"></div>
        <div class="row" style="padding:0; margin:0">
            <div class="col-md-10  col-12">
            <form method="POST" class="bg-light  contact-form">
              {% csrf_token %}
              <div class="row form-group" >
                <div class="col-2 col-md-1" style="padding-right:2px">
                    <img  height="50px" class="d-block w-100" src="{% static 'app/images/user.jpg' %}" alt="">
                </div>
                <div class="col-10 col-md-11" style="padding-left:0">
                {{ comment_form.nombre}}
                </div>
              </div>

              <div class="form-group">
                {{ comment_form.mensaje }}
              </div>
              <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary py-3 px-5">
              </div>
            </form>
            </div>

                  <div class="col-12">
                      {% for comment in comentarios %}
                      <div class="comment" style="margin-bottom: 20px">
                              <ul class="list-group">
                              <li class="list-group-item" style="margin-bottom:1px"><p class="info">{{ comment.nombre }} | {{ comment.created_on }}
                                  {{ comment.mensaje|linebreaks }} </p></li>
                              </ul>
                       </div>

                      {% empty %}
                      <h4>Aun no hay comentarios.</h4>
                      {% endfor %}
                  </div>
        </div>

  </div>

      <!--button id="togle" class="btn btn-outline-info mb-4" style="margin-top:10px" type="button" name="button">agregar comentario</button>
      <button id="{{ comment.id }}w" style ="margin-top: 10px" onclick="myFunction2('{{comment.id}}','{{comment.id}}w')" class="btn btn-outline-info mb-4" type="button" name="button">Contestar</button>
       Comment with nested comments -->

    </div>
  </div>

</div>
{%endblock content%}
